---
import '@fontsource/libre-barcode-128-text'
import '@fontsource/gowun-batang'
import '@fontsource/nanum-gothic-coding'
import '@fontsource/orbit'

interface Props {
  description?: string
  title?: string
}

const { description = 'sorto.me', title = 'sorto.me' } = Astro.props
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta content={Astro.generator} name="generator" />
    <meta content="width=device-width" name="viewport" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <!-- og -->
    <title>{title}</title>
    <meta content={title} property="og:title" />
    <meta content={description} name="description" />
    <meta content={description} property="og:description" />
    <meta content="website" property="og:type" />
  </head>
  <body>
    <slot />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7F0E6D3XE2"></script>
    <script>
      // @ts-nocheck
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-7F0E6D3XE2');
    </script>
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
  }

  :root {
    --primary: #282826;
    color: var(--primary);

    --display: 'Orbit', sans-serif;
    --monospace: 'Nanum Gothic Coding', monospace;
    --serif: 'Gowun Batang', serif;
    font-family: var(--serif);
  }

  body {
    margin: 0;
    overflow-x: hidden;
  }

  a {
    color: #177cab;
  }
  a:hover,
  a:focus {
    color: #c72082;
  }

  .no-screen {
    width: 1;
    height: 1;
    clip: rect(1px, 1px, 1px, 1px);
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -9;
  }
</style>
