---
import SpeedInsights from "@vercel/speed-insights/astro"

import '@fontsource/libre-barcode-128-text'
import '@fontsource/gowun-batang'
import '@fontsource/nanum-gothic-coding'
import '@fontsource/orbit'

export type Props = {
  canonicalPath?: string
  description?: string
  image?: string
  title?: string
}

const { canonicalPath, description = 'sorto.me', image, title: titleProp } = Astro.props

const title = titleProp ? `${titleProp} - sorto.me` : 'sorto.me'
---

<!doctype html>
<html lang="ko">
  <head>
    {import.meta.env.PROD && <script is:inline>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PTHM8CP8')
    </script>}
    <meta charset="UTF-8" />
    <meta content={Astro.generator} name="generator" />
    <meta content="width=device-width" name="viewport" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    {canonicalPath !== undefined && <link href={`${Astro.site?.toString() ?? ''}${canonicalPath}`} rel="canonical" />}
    <!-- og -->
    <title>{title}</title>
    <meta content={titleProp} property="og:title" />
    <meta content={description} name="description" />
    <meta content={description} property="og:description" />
    {image && <meta content={image} property="og:image" />}
    <meta content="ko_KR" property="og:locale" />
    <slot name="head" />
    <meta content="ca-pub-3748696249484291" name="google-adsense-account" />
  </head>
  <body>
    <h1 class="no-screen">{titleProp ?? 'sorto.me'}</h1>
    <slot />
    {import.meta.env.PROD && <SpeedInsights />}
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
  }

  :root {
    --brand: #ffca87;
    --primary: #282826;
    color: var(--primary);

    --display: 'Orbit', sans-serif;
    --monospace: 'Nanum Gothic Coding', monospace;
    --serif: 'Gowun Batang', serif;
    font-family: var(--serif);
  }

  body {
    margin: 0;
    overflow-x: hidden;
    scrollbar-color: #dbdbdb #fff0;
  }

  a {
    color: #177cab;
  }
  a:hover,
  a:focus {
    color: #c72082;
  }

  .no-screen {
    width: 1;
    height: 1;
    clip: rect(1px, 1px, 1px, 1px);
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -9;
  }
</style>
