---
import bcd from '@mdn/browser-compat-data' with { type: 'json' }
import type { CompatData, Identifier } from '@mdn/browser-compat-data'
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'
import Doc from 'components/Doc.astro'
import Footer from 'components/Footer.astro'
import Nav from 'components/Nav.astro'
import ContentGrid from 'components/ContentGrid'
import { escapeUTF8 } from 'entities'
import Shell from 'layouts/Shell.astro'
import type { Root } from 'mdast'
import { remark } from 'remark'
import stripMarkdown from 'strip-markdown'
import { select } from 'unist-util-select'

export const getStaticPaths = (async () => {
  return (await getCollection('docs')).map((entry) => ({
    params: { slug: entry.id.replace('.mdx', '') },
    props: entry,
  }))
}) satisfies GetStaticPaths

const props = Astro.props
const site = Astro.site

const firstParagraphProcessor = remark()
  .use(() => (root: Root) => select('paragraph', root) || root.children[0] || root)
  .use(stripMarkdown)

const description = await (async () => {
  if (props.data.description) {
    return props.data.description
  }

  return escapeUTF8(await firstParagraphProcessor.process(props.body).then((res) => String(res).trim()))
})()

const bcdData = (() => {
  if (!props.data.bcd) {
    return null
  }

  const [category, ...identifiers] = props.data.bcd.split('.')
  const data = identifiers.reduce<Identifier | null>(
    (prv, cur) => {
      if (!prv) {
        return null
      }

      return prv[cur]
    },
    bcd[category as Exclude<keyof CompatData, '__meta' | 'browsers'>]
  )

  if (data) {
    return {
      data,
      key: identifiers.at(-1)!,
    }
  }
  return null
})()
---

<Shell description={description} image={`${site}docs/${props.slug}/og.png`} title={props.data.title}>
  <ContentGrid client:load>
    <Nav
      links={[
        ['library', [['k-popo', 'https://www.npmjs.com/package/k-popo']]],
        ['experiments', [['dialog98', 'https://dialog98.sorto.me/']]],
        [
          'blog',
          [
            ['(...more)', '/posts'],
          ],
        ],
        ['docs', [
          ['HTML 요소 참고서', '/docs/Web/HTML/Element'],
          ['HTML 전역 특성 참고서', '/docs/Web/HTML/Global_attributes'],
          ['CSS 참고서', '/docs/Web/CSS/Reference']
        ]],
        [
          'contact',
          [
            ['github', 'https://github.com/alattalatta'],
            ['@sorto.me', 'mailto:alattalatta@sorto.me'],
          ],
        ],
      ]}
      slot="nav"
    />
    <main>
      <Doc bcd={bcdData} post={props} />
    </main>
    <Footer slot="footer" />
  </ContentGrid>
</Shell>
