---
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'
import Article from 'components/Article.astro'
import ContentGrid from 'components/ContentGrid'
import Footer from 'components/Footer.astro'
import Nav from 'components/Nav.astro'
import Shell from 'layouts/Shell.astro'

export const getStaticPaths = (async () => {
  return (await getCollection('posts')).map((entry) => ({
    params: { slug: entry.slug },
    props: entry,
  }))
}) satisfies GetStaticPaths

const props = Astro.props
const site = Astro.site?.toString() ?? ''

const posts = [...(await getCollection('posts'))].reverse()
---

<Shell
  canonicalPath={`${props.slug}`}
  description={props.data.description}
  image={`${site}posts/${props.slug}/og.png`}
  title={props.data.title}
>
  <ContentGrid client:load>
    <Nav
      links={[
        ['library', [['k-popo', 'https://www.npmjs.com/package/k-popo']]],
        ['experiments', [['dialog98', 'https://dialog98.sorto.me/']]],
        [
          'blog',
          [
            ...posts.map<[string, string]>((post) => [post.data.titleShort || post.data.title, `/posts/${post.slug}`]),
            ['(...more)', '/posts'],
          ],
        ],
        [
          'docs',
          [
            ['HTML', '/docs/Web/HTML'],
            ['CSS', '/docs/Web/CSS'],
          ],
        ],
        [
          'contact',
          [
            ['github', 'https://github.com/alattalatta'],
            ['@sorto.me', 'mailto:alattalatta@sorto.me'],
          ],
        ],
      ]}
      slot="nav"
    />
    <main>
      <Article post={props} />
    </main>
    <Footer slot="footer" />
  </ContentGrid>
</Shell>
