---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props

const href = `/posts/${post.slug}`
---

<article aria-labelledby={post.slug}>
  <a href={href}>
    <Image alt="" class="thumbnail" loading="lazy" src={post.data.image} width={1440} />
    <h2 id={post.slug}>{post.data.title}</h2>
  </a>
  <p>{post.data.description}</p>
</article>

<style>
  article {
    width: fit-content;
    word-break: keep-all;
  }

  a {
    display: block;
  }

  .thumbnail {
    border: 1px solid var(--primary);
    display: block;
    height: 180px;
    max-width: 100%;
    object-fit: cover;
    width: 720px;
  }
</style>
