---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

import ContentBody from './ContentBody.astro'
import LiveExample from './LiveExample'

interface Props {
  content: AstroComponentFactory
  post: CollectionEntry<'posts'>
}

const { content: Content, post } = Astro.props
---

<article aria-labelledby={post.slug}>
  <header>
    <Image alt="" class="thumbnail" src={post.data.image} width={2240} />
    <hgroup>
      <h1 id={post.slug}>{post.data.title}</h1>
      <time>{post.slug.split('--')[0]}</time>
    </hgroup>
  </header>
  <ContentBody
    components={{
      LiveExample,
    }}
    content={Content}
  />
</article>

<style>
  article {
    max-width: 1120px;
    grid-column: main / full-end;
    grid-row: nav / footer;
  }

  header {
    padding-bottom: 32px;
  }

  .thumbnail {
    aspect-ratio: 4 / 1;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;

    @media (max-width: 1088px) {
      aspect-ratio: auto;
      height: 192px;
    }
  }

  hgroup {
    background: var(--primary);
    color: #ffca87;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8px;
    word-break: keep-all;
  }

  h1 {
    font: 400 1.25em var(--display);
    font-weight: 400;
    margin: 0;
    padding: 0 1em;
  }

  time {
    font:
      2em 'Libre Barcode 128 Text',
      sans-serif;
    flex-shrink: 0;
  }
</style>
