---
import type { Identifier } from '@mdn/browser-compat-data'
import type { AstroComponentFactory } from 'astro/runtime/server/index.js'
import { Image } from 'astro:assets'

import BrowserCompat from './BrowserCompat'
import { Deprecated, Experimental, NonStandard } from './BrowserCompat/StatusIcon'
import ContentBody from './ContentBody.astro'
import DocPin from './DocPin'
import DocsUnderPath from './DocsUnderPath.astro'
import LiveExample from './LiveExample'
import Spec from './Spec'

type MaybeArray<T> = T | T[]

type Props = {
  bcd: MaybeArray<{ data: Identifier; key: string } | null>
  content: AstroComponentFactory
  description: string
  pinnable: boolean
  slug: string
  title: string
}

const { bcd, content: Content, description, pinnable, slug, title } = Astro.props
const slugAsID = slug.replaceAll('/', '-')
---

{pinnable && <recent-doc description={description} title={title} />}
<article aria-labelledby={slugAsID}>
  <header>
    <h2 id={slugAsID}>
      {title}
    </h2>
    {
      pinnable && (
        <span class="pin">
          <DocPin client:load />
        </span>
      )
    }
  </header>
  <ContentBody
    bcd={bcd}
    components={{
      BrowserCompat,
      Deprecated,
      Experimental,
      Image,
      LiveExample,
      NonStandard,
      DocsUnderPath,
      Spec,
    }}
    content={Content}
  />
</article>

<style lang="scss">
  header {
    align-items: flex-start;
    display: flex;
    padding: 2rem 3rem 1rem;

    @media (max-width: 1088px) {
      padding: 2rem 1rem 1rem;
    }
  }

  h2 {
    font-size: 3em;
    margin: 0;
    word-break: keep-all;
  }

  .pin {
    align-items: center;
    display: inline-flex;
    height: 70px;
    margin-left: 8px;
  }
</style>

<script>
  import { update } from 'db/RecentlyViewedDocs'

  class RecentDocSaver extends HTMLElement {
    constructor() {
      super()

      const description = this.attributes.getNamedItem('description')?.value ?? ''
      const title = this.attributes.getNamedItem('title')?.value ?? ''
      void update(title, description)
    }
  }
  customElements.define('recent-doc', RecentDocSaver)
</script>
