---
import type { Identifier } from '@mdn/browser-compat-data'
import type { AstroComponentFactory } from 'astro/runtime/server/index.js'
import type { CollectionEntry } from 'astro:content'

import BrowserCompat from './BrowserCompat'
import { Experimental, NonStandard } from './BrowserCompat/StatusIcon'
import ContentBody from './ContentBody.astro'
import LiveExample from './LiveExample'
import Spec from './Spec'

type Props = {
  bcd: { data: Identifier; key: string } | null
  content: AstroComponentFactory
  post: CollectionEntry<'docs'>
}

const { bcd, content: Content, post } = Astro.props
---

<article aria-labelledby={post.slug}>
  <header>
    <h1 id={post.slug}>{post.data.title}</h1>
  </header>
  <ContentBody
    bcd={bcd}
    components={{
      BrowserCompat,
      Experimental,
      LiveExample,
      NonStandard,
      Spec,
    }}
    content={Content}
  />
</article>

<style lang="scss">
  article {
    max-width: 1120px;
  }

  h1 {
    font-size: 3em;
    margin: 0;
    padding: 2rem 3rem 1rem;

    @media (max-width: 1088px) {
      padding: 2rem 1rem 1rem;
    }
  }
</style>
