---
export type Props = {
  docs: readonly (readonly [id: string, title: string])[]
  idNow: string
  parent: readonly [id: string, title: string] | null
  root: readonly [id: string, title: string] | null
}

const { docs: docsProp, idNow, parent, root } = Astro.props
const docNow = docsProp.find(([id]) => id === idNow)
const docs = docsProp.filter(([id]) => id !== idNow)
---

<section aria-labelledby="related-docs-heading">
  <h2 id="related-docs-heading">관련 문서</h2>
  {
    root && (
      <a class="root" href={`/docs/${root[0]}`}>
        {root[1]}
      </a>
    )
  }
  {
    parent && (
      <a class="parent" href={`/docs/${parent[0]}`}>
        {parent[1]}
      </a>
    )
  }
  <ul>
    {
      docNow && (
        <li>
          <a data-current href={`/docs/${docNow[0]}`}>
            {docNow[1]}
          </a>
        </li>
      )
    }
    {
      docs.map(([id, title]) => (
        <li>
          <a href={`/docs/${id}`}>{title}</a>
        </li>
      ))
    }
  </ul>
</section>

<style lang="scss">
  h2 {
    font-size: 18px;
    margin: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li + li {
    margin-top: 0.5em;
  }

  .root {
    display: block;
    margin: 1em 0;

    &::before {
      content: '↑↑';
    }
  }

  .parent {
    display: block;
    margin: 1em 0;

    &::before {
      content: '↑';
    }
  }

  a[data-current] {
    font-weight: bold;

    &::after {
      content: '◀';
    }
  }
</style>
