---
import type { Identifier } from '@mdn/browser-compat-data'
import type { CollectionEntry } from 'astro:content'

import BrowserCompat from './BrowserCompat'
import ContentBody from './ContentBody.astro'
import LiveExample from './LiveExample'

type Props = {
  bcd: { data: Identifier; key: string } | null
  post: CollectionEntry<'docs'>
}

const { bcd, post } = Astro.props
const { Content } = await post.render()
---

<article aria-labelledby={post.slug}>
  <header>
    <h1 id={post.slug}>{post.data.title}</h1>
  </header>
  <ContentBody
    bcd={bcd}
    components={{
      BrowserCompat,
      LiveExample,
    }}
    content={Content}
  />
</article>

<style lang="scss">
  h1 {
    font-size: 3em;
    margin: 0;
    padding: 2rem 3rem 1rem;

    @media (max-width: 1088px) {
      padding: 2rem 1rem 1rem;
    }
  }
</style>
